.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 7%;
    padding-left: 4%;
    padding-right: 4%;
}

.cart-container {
    background-color: #FF9900;
    margin-top: 15%;
    border-radius: 5px;
    height: fit-content;
    position: sticky;
    top: 65px;
}