.header {
    background-color: #1C2B35;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header div a {
    color: white;
    margin-left: 30px;
}

.header div a:hover {
    color: #FF9900;
}